@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Orbitron:wght@600&family=Poppins&family=Red+Rose:wght@300&family=Teko:wght@500&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Poppins;
}

/* ---------------------- */
/* Navbar Section  */
/* ---------------------- */

.navbar {
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
  background-color: #000000;
}
.logo {
  position: relative;
  height: 30px;
  bottom: 8px;
}
.line {
  position: relative;
  bottom: 20px;
  right: 120px;
  color: #ffffff;
  font-size: 50px;
  height: 50px;
  width: 1px;
  border-left: 1px solid #ffffff;
}
select {
  color: #ffffff;
  background-color: #000000;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  border: none;
}
option {
  color: #ffffff;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
}
ul {
  position: relative;
  bottom: 5px;
  right: 270px;
  display: flex;
}
.list-item {
  list-style-type: none;
  margin: 0px 35px;
  color: #ffffff;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
}
.item1 {
  color: #000000;
}
.button-small {
  position: relative;
  bottom: 16px;
  padding: 10px 35px;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  background-color: #ba0cc5;
  border: none;
  border-radius: 10px;
}

/* ---------------------- */
/* Hero Section  */
/* ---------------------- */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("assets/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 1100px;
}
.hero-heading {
  position: relative;
  top: 210px;
  font-family: Montserrat;
  font-size: 89px;
  color: #ffffff;
  text-align: center;
}
.hero-description {
  position: relative;
  top: 210px;
  left: 10px;
  font-size: 35px;
  font-weight: 400;
  color: #ffffff;
}
.button-large {
  position: relative;
  top: 280px;
  padding: 20px 25px;
  font-size: 32px;
  font-weight: 500;
  color: #ffffff;
  background-color: #ba0cc5;
  border: none;
  border-radius: 10px;
}
